<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notificaciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- lista de notificaciones -->
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-label>
        <p>{{item}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
