<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dirección Ip de Red Local
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    
  </ion-header>
  <ion-card class="sec1">
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input placeholder="Dirección Ip" [(ngModel)]="ip"></ion-input>
        </ion-item>
      
        <ion-item>
            <ion-button id="bt1" color="medium" (click)="save()">
              Guardar
            </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
