<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="bag-add-outline"></ion-icon>
      <ion-label>Seguridad</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="flashlight-outline"></ion-icon>
      <ion-label>Light</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="nuclear-outline"></ion-icon>
      <ion-label>Ventilador</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="url" href="/tabs/url">
      <ion-icon aria-hidden="true" name="planet-sharp"></ion-icon>
      <ion-label>Internet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications" href="/tabs/notifications">
      <ion-icon aria-hidden="true" name="notifications-sharp"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
